**/pkg/
/backend/bin
/backend/cmd/latencytester/latencytester
/backend/cmd/trackerr/trackerSim
/misc/
.gradle
/provisioner/local.properties
/provisioner/.idea/
.DS_Store
/**/build/
/provisioner/gradle/wrapper/gradle-wrapper.jar
/provisioner/captures
.externalNativeBuild
.cxx
local.properties
Thumbs.db
obj/
*.so
*.iml
*.apk
*.ap_[c]
*.aab
*.jks
*.keystore
*.sh
